<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>一周内每个城市20km距离接机、送机价格最低、耗时最短的供应商</title>
		<link type="text/css" rel="stylesheet" href="css/font-awesome.css"/>
		<link type="text/css" rel="stylesheet" href="css/datepicker.css"/>
		<link type="text/css" rel="stylesheet" href="css/style1.css"/>
		
	</head>
	<body>
		<div class="main_box">
			
			<h2><span></span>一周内每个城市20km距离接机、送机价格最低、耗时最短的供应商(离线统计)</h2>
			
			<div class="cont_box">
				<table border="0" cellspacing="0" cellpadding="0" class="table">
				<thead>
					<tr>
						<th><center>城市</center></th>
						<th><center>起点</center></th>
						<th><center>终点</center></th>
				
						<th><center>车型</center></th>
						<th><center>厂商</center></th>
						<th><center>标价/元</center></th>
			
						<th><center>距离/KM</center></th>
						<th><center>时长/分</center></th>
						<th><center>用车时间</center></th>
					</tr>
				</thead>			
				<tbody id="xtemp">
					<tr id="1" class="re"><!--此处id为进行编辑或删除时该条数据的唯一标识-->
						<td><center>{{cityname}}</center></td>
						<td><center>{{beginaddr}}</center></td>
						<td><center>{{endaddr}}</center></td>
						<td><center>{{cartype}}</center></td>
						<td><center>{{brandname}}</center></td>
						<td><center>{{estimateprice}}</center></td>
						<td><center>{{estimatedistance}}</center></td>
						<td><center>{{estimatetimelength}}</center></td>
						<td><center>{{usetime}}</center></td>
					</tr>
					
				</tbody>
			</table>
		</div>
		</div>
		<!--javascript include-->
		<script src="js/jquery-1.8.2.min.js"></script>
		<script>
			var htmll = new Array();

			var xtemps = new Array();


			function jsonBindView(jsonValue, xtemp, re) {
				var flagee = false;
				var ddd = -1;
				for(var i = 0; i < xtemps.length; i++) {
					if(xtemps[i] == xtemp) {
						flagee = true;
						ddd = i;
					}
				}

				if(!flagee) {
					ddd++;
					xtemps[ddd] = xtemp;
					var s = $("." + re).prop("outerHTML"); //获取页面模板
					htmll[ddd] = s.toString();
				}

				$("." + re).remove();
				var htmllll = htmll[ddd];

				if(jsonValue instanceof Array){
					for(var i = 0; i < jsonValue.length; i++) {

						var htmlll = htmllll;
						for(var key in jsonValue[i]) {
							var reg = /\{\{([^\}\}]+)/g;

							while(reg.test(htmlll)) {
								var lie = RegExp.$1;
								var ti = "{{" + lie + "}}";
								if(lie == key) {
									htmlll = htmlll.replace(ti, jsonValue[i][key]);
								}
							}

						}
						$("#" + xtemp).append(htmlll);
					}
					panduan();
				}else{
					console.error("传入数据不是集合类型，无法遍历循环")
				}

			}

			//处理xif的判断
			function panduan() {
				$("xif").each(function() {
					var d1 = $(this).attr("test");

					var regeq = /==/;
					var regdy = />/;
					var regdydy = />=/;
					var regxy = /</;
					var regxydy = /<=/;
					var regbd = /!=/;

					if(regeq.test(d1)) {
						var zhi1 = d1.split("==");



						if(zhi1[0] == zhi1[1]) {

						} else {
							$(this).hide();
						}



					} else if(regbd.test(d1)) {
						var zhi1 = d1.split("!=");
						if(zhi1[0] != zhi1[1]) {

						} else {
							$(this).hide();
						}
					} else if(regdy.test(d1)) {
						if(regdydy.test(d1)) {
							var zhi1 = d1.split(">=");
							if(zhi1[0] >= zhi1[1]) {} else {
								$(this).hide();
							}
						} else {
							var zhi1 = d1.split(">");
							if(zhi1[0] > zhi1[1]) {} else {
								$(this).hide();
							}
						}
					} else if(regxy.test(d1)) {
						if(regxydy.test(d1)) {
							var zhi1 = d1.split("<=");
							if(zhi1[0] <= zhi1[1]) {} else {
								$(this).hide();
							}
						} else {
							var zhi1 = d1.split("<");
							if(zhi1[0] < zhi1[1]) {} else {
								$(this).hide();
							}
						}
					}

				});

			}
		</script>
		
		<script type="application/javascript">
		$(function () {
			$.ajax({
				url:"/displayController/getOfflineResult1",
				dataType:"json",
				async:true,
				type:"post",
				success:function(data){
					console.log(data)
					jsonBindView(data, "xtemp", "re");
				}
			});
		})
		</script>
		 
	</body>
</html>
